ul.nav.nav-tabs
  li(class=activeTab=='learn'?'':'active')
    a(href='/words/learn') 单词学习

  li(class=activeTab=='extension'?'':'active')
    a(href='/words/extension') 扩展包

  li(class=activeTab=='books'?'':'active')
    a(href='/words/books') 单词书

  li(class=activeTab=='library'?'':'active')
    a(href='/words/library') 我的词库

  li(class=activeTab=='test'?'':'active')
    a(href='/words/test') 单词量测试

  li(class=activeTab=='settings'?'':'active')
    a(href='settings') 单词设置
